@charset "UTF-8";

ul.boardList{
	list-style:none;
}
i.boardWriteImg:hover{
	cursor: pointer;
}
i.boardWriteImg{
	font-size: 1.5em;
	position: absolute;
}
div.boardWriteBtn{
	position: absolute;
	right:10%;
	font-weight: 800;
    font-size: 18px;
}
div.pageNumBtn{
	text-align:center;
	font-weight:600;
	font-size:18px;	
}